
.footer {
  text-align: center;
  padding: 60px;
}
.footer a{
 padding: auto;
  font-size: 18px;
  color: #670BFF;
}
.footer-copyright{
  text-align: center;
  color :rgb(166, 174, 191);
  font-size: 10px;
  padding-bottom: 15px;
}
